In [12]:
import pandas as pd
import numpy as np

# Generate a dataset to start with

In [14]:
np.random.seed(42)

n = 100  # number of vehicles

df = pd.DataFrame({
    'vehicle_id': [f'VEH{i:03}' for i in range(1, n+1)],
    'age_years': np.random.randint(3, 15, n),
    'mileage_km': np.random.normal(150000, 30000, n).astype(int),
    'repair_cost_usd': np.random.normal(1200, 400, n).clip(200, 5000),
    'downtime_days_last_year': np.random.poisson(5, n),
    'accident_count': np.random.poisson(0.7, n),
    'fuel_type': np.random.choice(['gasoline', 'diesel', 'electric'], n, p=[0.6, 0.1, 0.3])
})

df.head()

,vehicle_id,age_years,mileage_km,repair_cost_usd,downtime_days_last_year,accident_count,fuel_type
0,VEH001,9,148693,864.967443,2,0,gasoline
1,VEH002,6,141740,1470.874426,4,0,gasoline
2,VEH003,13,103107,1948.927647,4,1,gasoline
3,VEH004,10,126131,1358.549576,4,0,electric
4,VEH005,7,177917,949.753482,2,2,electric